**/build/*
**/node_modules/*
**/npm-debug.log
**/out/*

# ssh keys
id_rsa
.github_rsa

*.swp
**.orig

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.test
*.exe

*.swp
**.orig
.env

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Linux
*~
.directory
# Windows
Thumbs.db
Desktop.ini

# RubyMine
.idea/

# TextMate
*.tmproj
*.tmproject
tmtags

# Vim
.*.sw[a-z]
*.un~
Session.vim
tags

# Emacs
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Temp files
tmp
